:root {
  --color-background: #f8f8f8;
  --color-question-box: #f0eded;
  --font-size-question: 28px;
  --font-size-answer: 24px;
  --spacing-container: 50px;
  --spacing-question-box: 10px;
  --padding-question-box: 40px;
  --color-submit-button: #4CAF50; /* Green color for submit button */
  --color-next-previous-button: #0683dd; /* Blue color for next/previous buttons */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

.container {
  display: flex;
  margin-top: var(--spacing-container);
}

.question-box {
  margin-bottom: var(--spacing-question-box);
  background-color: var(--color-question-box);
  padding: var(--padding-question-box);
}

.question-box p {
  margin: 0;
  font-size: var(--font-size-question);
}

.answer-textarea {
  font-size: var(--font-size-answer);
}

.button-flex{
  display: flex;
  align-content: space-between;
  gap: 10px;
}

.start-button,
.stop-button,.reset-button {
  width: fit-content;
  font-size: var(--font-size-answer);
}


.previous-button,
.next-button {
  background-color: var(--color-next-previous-button);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit-button {
  background-color: var(--color-submit-button);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: calc(var(--spacing-container) / 2);
  }

  .question-box p {
    font-size: calc(var(--font-size-question) - 2px);
  }

  .answer-textarea {
    font-size: calc(var(--font-size-answer) - 2px);
  }
}
