body {
  font-family: Arial, sans-serif;
  background-color: #aff6f9;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  height: 100vh;
}

.login-form {
  width: 350px; /* Increase or decrease the value as desired */
  margin: 100;
  margin-left: 10;
  background-color: #fff;
  padding: 50px; /* Increase or decrease the value as desired */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-top: 0;
  /* margin-bottom: 20px; Increase or decrease the value as desired */
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

/* input[type="password"] {
  width: calc(100% - 40px); /* Adjust the width accordingly */
  /* padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc; */

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #3e5df7;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}


.password-container {
  position: relative;
}

.password-container input[type="password"] {
  width: 100%;
  padding-right: 50px;
}

.password-container button {
  position: absolute;
  top: 35%;
  right: 5px;
  transform: translateY(-50%);
  height: 40%;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.password-container button:focus {
  outline: none;
}

.password-container button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
