/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



/* Box Styles */
.box-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 75px;
  height: 75px;
}
.subject-box {
  position: absolute;
  top:20%;
  left:15%;
  width:70%;
  height:40%;
  box-shadow: 0 0 15px  #2d3748;
  border-radius: 10px;
  text-align: center;
}
.subject-box:hover{
  transform: scale(1.05);
}
.subject-box1 {
  position: absolute;
  top:70%;
  left:15%;
  width:70%;
  height:40%;
  background-color: #fffefe;
  box-shadow: 0 0 15px  #2d3748;
  border-radius: 10px;
  text-align: center;
}
.subject-box1:hover{
  transform: scale(1.05);
}

.left-box {
  background-color: rgb(243, 160, 6);  
  width:9%;
  position: absolute  ;
  top:12.5%;
  left:0.6%;
  height:15%;
  color: #000000;
  font-weight: bold;
  text-align: top;
}
.right-box{
  background-color: rgb(243, 160, 6); 
  width:9%;
  position: absolute  ;
  margin-left: -1px;
  top:12.5%;
  right:0.9%;
  height:10%;
  color: #000000;
  font-weight: bold;
  text-align: center;
}
text{
  margin-left: 5%;
}
.test-results-box {
  text-align: center;
}

/* Button Styles */
.button {
  display: block;
  color:#fff;
  border:none;
  outline:none;
  padding: 15px;
  background-color: #4caf50;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  right: 7%;
  top:70%;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #048334;
}
.button1 {
  display: inline-block;
  text-align: center;
  padding:30px;
  margin: 0 5px;
  color: #000000;
  border-radius: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: large;
}

/* User Info Styles */
.user-info-box h4 {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .subject-box {
    width: 100%; /* Display one box per row on smaller screens */
  }
}




/* profile */
.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.detail-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.detail-card-content {
  margin-top: 30px;
  text-align: center;
}

.detail-card h2 {
  color: #333;
  font-size: 30px;
  margin-bottom: 15px;
}

.detail-card p {
  color: #777;
  font-size: 20px;
  margin-bottom: 10px;
}

.detail-card .email {
  color: #00aaff;
  font-weight: bold;
}

.detail-card .role {
  color: #ff5500;
  font-weight: bold;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}








/* upload*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.upload-form {
  background-color: #fff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.upload-form h4 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  color: #777;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.form-control {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.custom-file {
  display: inline-block;
  position: relative;
  width: calc(100% - 130px);
}

.custom-file-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-file-label {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-label:hover {
  background-color: #0069d9;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.upload-results p {
  color: #555;
  margin-bottom: 5px;
}
